# Gradle/Android
.gradle/
build/
app/build/
.idea/
*.iml
local.properties
.cxx/
capture/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.venv/
venv/
env/

# Data/DB
src/backend/exercises.db
model/*.pt
model/*.onnx

# Misc
.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data
.kotlin/
android/a2ui_android/

